absl-py==0.15.0
alabaster 
anaconda-client==1.10.0
anaconda-navigator==2.3.2
anaconda-project 
anyascii==0.3.1
anyio 
appdirs==1.4.4
argh==0.26.2
argon2-cffi 
argon2-cffi-bindings 
arrow 
asn1crypto 
astroid 
astropy 
astunparse==1.6.3
async-generator 
atomicwrites==1.4.0
attrs 
autopep8 
Babel 
backcall 
backports.functools-lru-cache 
backports.shutil-get-terminal-size 
backports.tempfile 
backports.weakref==1.0.post1
bcrypt 
beautifulsoup4 
binaryornot
bitarray 
bkcharts==0.2
black==19.10b0
bleach 
bokeh 
boto==2.49.0
Bottleneck 
branca 
brotlipy==0.7.0
cached-property 
cachetools==5.2.0
certifi 
cffi 
chardet 
charset-normalizer 
clang==5.0
click 
click-plugins
cligj==0.7.2
cloudpickle 
clyent==1.2.2
colorama 
comtypes==1.1.10
conda==22.9.0
conda-build==3.22.0
conda-content-trust 
conda-pack 
conda-package-handling 
conda-repo-cli==1.0.5
conda-token 
conda-verify==3.4.2
contextlib2 
contractions==0.1.72
cookiecutter 
cryptography 
cycler 
Cython 
cytoolz==0.11.0
daal4py==2021.5.0
dask 
debugpy 
decorator
defusedxml 
diff-match-patch 
dill 
distlib==0.3.6
distributed 
dnspython==2.3.0
docutils 
entrypoints 
et-xmlfile==1.1.0
fastcache 
fastjsonschema 
filelock 
Fiona==1.8.21
flake8 
Flask 
flatbuffers==1.12
folium 
fonttools==4.25.0
fsspec 
future 
gast==0.4.0
GDAL==3.5.1
geopandas 
gevent 
glob2 
google-auth==2.11.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet 
grpcio==1.50.0
gunicorn==20.1.0
h5py==3.1.0
HeapDict 
html5lib 
htmlmin==0.1.12
idna
imagecodecs 
ImageHash==4.3.1
imageio 
imagesize
importlib-metadata 
inflection==0.5.1
iniconfig 
intervaltree 
ipykernel 
ipython 
ipython-genutils 
ipywidgets 
isort 
itsdangerous 
jdcal 
jedi 
jellyfish 
Jinja2 
jinja2-time 
joblib 
json5 
jsonschema 
jupyter 
jupyter-console 
jupyter-core 
jupyter-server 
jupyter_client 
jupyterlab 
jupyterlab-pygments 
jupyterlab-server 
jupyterlab-widgets 
keras==2.6.0
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
keyring 
kiwisolver 
lazy-object-proxy 
libarchive-c 
libclang==14.0.6
llvmlite==0.38.0
locket
lxml 
lz4 
mapclassify 
Markdown==3.4.1
MarkupSafe 
matplotlib 
matplotlib-inline 
mccabe==0.6.1
menuinst 
mistune 
mkl-fft==1.3.1
mkl-random 
mkl-service==2.4.0
mock 
more-itertools 
mpmath==1.2.1
msgpack 
multimethod==1.9.1
multipledispatch 
munch 
munkres==1.1.4
mypy-extensions==0.4.3
names-dataset==2.1.0
navigator-updater==0.2.1
nbclassic 
nbclient 
nbconvert
nbformat 
nbmerge==0.0.4
nest-asyncio 
networkx 
nltk 
nose 
notebook 
numba 
numexpr 
numpy 
numpydoc 
oauthlib==3.2.0
olefile 
opencv-python==4.6.0.66
openpyxl==3.0.10
opt-einsum==3.3.0
packaging 
pandas 
pandas-profiling==3.6.6
pandocfilters 
paramiko 
parso 
partd 
path 
pathlib 
pathlib2 
pathspec 
patsy==0.5.2
pep8==1.7.1
pexpect 
phik==0.12.3
pickleshare 
Pillow==9.2.0
pkginfo 
platformdirs 
pluggy 
ply==3.11
poyo 
preprocess==2.0.0
prometheus-client 
prompt-toolkit 
protobuf==3.19.4
psutil 
ptyprocess 
py 
pyahocorasick==1.4.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle 
pycosat==0.6.3
pycparser 
pycurl==7.45.1
pydantic==1.10.5
pydicom==2.3.0
pydocstyle 
pyerfa 
pyflakes 
Pygments 
PyJWT 
pylint 
pyls-spyder==0.4.0
pymongo==4.3.3
PyMySQL==1.0.2
PyNaCl 
pyodbc 
pyOpenSSL 
pyparsing 
PyPDF2==3.0.0
pyproj 
PyQt5==5.15.7
PyQt5-sip 
pyreadline==2.1
pyrsistent 
PySocks 
pyspellchecker==0.7.0
pytest==7.1.2
python-dateutil 
python-lsp-black 
python-lsp-jsonrpc==1.0.0
python-lsp-server 
python-slugify 
pytz 
PyWavelets 
pywin32==302
pywin32-ctypes 
pywinpty 
PyYAML==6.0
pyzmq 
QDarkStyle 
qstylizer 
QtAwesome 
qtconsole 
QtPy 
regex 
requests 
requests-oauthlib==1.3.1
rope 
rsa==4.9
Rtree 
ruamel-yaml-conda 
scikit-image 
scikit-learn 
scikit-learn-intelex==2021.20220215.102710
scikit-multilearn==0.2.0
scipy 
seaborn 
Send2Trash 
Shapely==1.8.4
simplegeneric==0.8.1
singledispatch 
sip 
six==1.15.0
sniffio 
snowballstemmer 
sortedcollections 
sortedcontainers 
soupsieve 
Sphinx 
sphinxcontrib-applehelp 
sphinxcontrib-devhelp 
sphinxcontrib-htmlhelp 
sphinxcontrib-jsmath 
sphinxcontrib-qthelp 
sphinxcontrib-serializinghtml 
sphinxcontrib-websupport 
spyder 
spyder-kernels 
SQLAlchemy==1.4.32
statsmodels==0.13.2
sympy
tables==3.7.0
tangled-up-in-unicode==0.2.0
TBB==0.2
tblib 
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.6.0
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.27.0
termcolor==1.1.0
terminado 
testpath 
text-preprocessing==0.1.1
text-unidecode 
textdistance 
textsearch==0.0.24
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl 
three-merge 
tifffile 
tinycss 
toml 
tomli 
tomlkit 
toolz 
tornado 
tqdm 
traitlets
typed-ast
typeguard==2.13.3
typing_extensions==4.4.0
ujson
unicodecsv==0.14.1
Unidecode 
unittest-xml-reporting==3.2.0
urllib3 
virtualenv==20.16.5
visions==0.7.5
watchdog 
wcwidth 
webencodings==0.5.1
websocket-client 
Werkzeug 
whichcraft 
widgetsnbextension 
win-inet-pton
win-unicode-console==0.5
wincertstore==0.2
wordcloud==1.8.2.2
wrapt==1.12.1
xlrd
XlsxWriter 
xlwings==0.24.9
xlwt==1.3.0
xyzservices 
yapf 
ydata-profiling==4.0.0
zict==2.1.0
zipp 
zope.event==4.5.0
zope.interface 