absl-py==0.15.0
alabaster 
anaconda-client
anaconda-navigator
anaconda-project 
anyascii
anyio 
appdirs
argh
argon2-cffi 
argon2-cffi-bindings 
arrow 
asn1crypto 
astroid 
astropy 
astunparse
async-generator 
atomicwrites
attrs 
autopep8 
Babel 
backcall 
backports.functools-lru-cache 
backports.shutil-get-terminal-size 
backports.tempfile 
backports.weakref
bcrypt 
beautifulsoup4 
binaryornot
bitarray 
bkcharts
black
bleach 
bokeh 
boto
Bottleneck 
branca 
brotlipy
cached-property 
cachetools
certifi 
cffi 
chardet 
charset-normalizer 
clang
click 
click-plugins
cligj
cloudpickle 
clyent
colorama 
comtypes
conda
conda-build
conda-content-trust 
conda-pack 
conda-package-handling 
conda-repo-cli
conda-token 
conda-verify
contextlib2 
contractions
cookiecutter 
cryptography 
cycler 
Cython 
cytoolz
daal4py
dask 
debugpy 
decorator
defusedxml 
diff-match-patch 
dill 
distlib
distributed 
dnspython
docutils 
entrypoints 
et-xmlfile
fastcache 
fastjsonschema 
filelock 
Fiona
flake8 
Flask 
flatbuffers
folium 
fonttools
fsspec 
future 
gast
GDAL
geopandas 
gevent 
glob2 
google-auth
google-auth-oauthlib
google-pasta
greenlet 
grpcio
gunicorn
h5py
HeapDict 
html5lib 
htmlmin
idna
imagecodecs 
ImageHash
imageio 
imagesize
importlib-metadata 
inflection
iniconfig 
intervaltree 
ipykernel 
ipython 
ipython-genutils 
ipywidgets 
isort 
itsdangerous 
jdcal 
jedi 
jellyfish 
Jinja2 
jinja2-time 
joblib 
json5 
jsonschema 
jupyter 
jupyter-console 
jupyter-core 
jupyter-server 
jupyter_client 
jupyterlab 
jupyterlab-pygments 
jupyterlab-server 
jupyterlab-widgets 
keras
keras-nightly
Keras-Preprocessing
keyring 
kiwisolver 
lazy-object-proxy 
libarchive-c 
libclang
llvmlite
locket
lxml 
lz4 
mapclassify 
Markdown
MarkupSafe 
matplotlib 
matplotlib-inline 
mccabe
menuinst 
mistune 
mkl-fft
mkl-random 
mkl-service
mock 
more-itertools 
mpmath
msgpack 
multimethod
multipledispatch 
munch 
munkres
mypy-extensions
names-dataset
navigator-updater
nbclassic 
nbclient 
nbconvert
nbformat 
nbmerge
nest-asyncio 
networkx 
nltk 
nose 
notebook 
numba 
numexpr 
numpy 
numpydoc 
oauthlib
olefile 
opencv-python
openpyxl
opt-einsum
packaging 
pandas 
pandas-profiling
pandocfilters 
paramiko 
parso 
partd 
path 
pathlib 
pathlib2 
pathspec 
patsy
pep8
pexpect 
phik
pickleshare 
Pillow
pkginfo 
platformdirs 
pluggy 
ply
poyo 
preprocess
prometheus-client 
prompt-toolkit 
protobuf
psutil 
ptyprocess 
py 
pyahocorasick
pyasn1
pyasn1-modules
pycodestyle 
pycosat
pycparser 
pycurl
pydantic
pydicom
pydocstyle 
pyerfa 
pyflakes 
Pygments 
PyJWT 
pylint 
pyls-spyder
pymongo
PyMySQL
PyNaCl 
pyodbc 
pyOpenSSL 
pyparsing 
PyPDF2
pyproj 
PyQt5
PyQt5-sip 
pyreadline
pyrsistent 
PySocks 
pyspellchecker
pytest
python-dateutil 
python-lsp-black 
python-lsp-jsonrpc
python-lsp-server 
python-slugify 
pytz 
PyWavelets 
pywin32
pywin32-ctypes 
pywinpty 
PyYAML
pyzmq 
QDarkStyle 
qstylizer 
QtAwesome 
qtconsole 
QtPy 
regex 
requests 
requests-oauthlib
rope 
rsa
Rtree 
ruamel-yaml-conda 
scikit-image 
scikit-learn 
scikit-learn-intelex
scikit-multilearn
scipy 
seaborn 
Send2Trash 
Shapely
simplegeneric
singledispatch 
sip 
six
sniffio 
snowballstemmer 
sortedcollections 
sortedcontainers 
soupsieve 
Sphinx 
sphinxcontrib-applehelp 
sphinxcontrib-devhelp 
sphinxcontrib-htmlhelp 
sphinxcontrib-jsmath 
sphinxcontrib-qthelp 
sphinxcontrib-serializinghtml 
sphinxcontrib-websupport 
spyder 
spyder-kernels 
SQLAlchemy
statsmodels
sympy
tables
tangled-up-in-unicode
TBB
tblib 
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
terminado 
testpath 
text-preprocessing
text-unidecode 
textdistance 
textsearch
tf-estimator-nightly
threadpoolctl 
three-merge 
tifffile 
tinycss 
toml 
tomli 
tomlkit 
toolz 
tornado 
tqdm 
traitlets
typed-ast
typeguard
typing_extensions
ujson
unicodecsv
Unidecode 
unittest-xml-reporting
urllib3 
virtualenv
visions
watchdog 
wcwidth 
webencodings
websocket-client 
Werkzeug 
whichcraft 
widgetsnbextension 
win-inet-pton
win-unicode-console
wincertstore
wordcloud
wrapt
xlrd
XlsxWriter 
xlwings
xlwt
xyzservices 
yapf 
ydata-profiling
zict
zipp 
zope.event
zope.interface 